<div id="footer">
	<p>Danuta Warzecha | Al. Armii Krajowej 19, 27-200 Starachowice | Porucznika Robota 9, 27-200 Starachowice<br /> Tel.: 664 425 995 | Tel./Fax: 041 273 37 10 | e-mail: warzechad@interia.pl</p>
</div>
<!-- end #footer -->

<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
	try {
		var pageTracker = _gat._getTracker("UA-15206519-1");
		pageTracker._trackPageview();
	}	 catch(err) {}
</script>