<div id="header-wrapper">
  <div id="header">
    <div id="logo">
      <h1>Tłumacz przysiegły języka niemieckiego</h1>
    </div>
    <div id="name">
      <h1>Danuta Warzecha</h1>
    </div>
    <div id="menu">
      <ul>
        {% assign url = page.url %}
        {{ page.navigation }}
        {% for link in site.navigation %}
        <li {% if url == link.url %}class="current_page_item"{% endif %}>
            <a href="{{link.url}}" title="{{link.title}}">{{link.text}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>