<head>
	<meta name="keywords" content="tłumacz przysięgły, niemiecki, niemieckiego, biuro tłumaczeń" />
	<meta name="description" content="" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Tłumacz przysiegły języka niemieckiego Danuta Warzecha</title>
	<link href="{{ site.url }}/css/style.css" rel="stylesheet" type="text/css" media="screen" />
	<meta name="author" content="Danuta Warzecha" />
	<meta name="google-site-verification" content="1GwhkgQdQpzsFra1R8FyZHU7ZdcvbJzLpdyH9RnAOWA" />
</head>