<html xmlns="http://www.w3.org/1999/xhtml">
  {% include head.html %}
<body>
<div id="wrapper">
  {% include header.html %}
  <!-- end #header -->
  <div id="page">
    <div id="page-bgtop">
      <div id="page-bgbtm">
        {{ content }}
        <!-- end #sidebar -->
        <div class="krd"><a target="_blank" href="https://wizytowka.rzetelnafirma.pl/D9GQO7FG" rel="nofollow"><img title="Kliknij i sprawdź status certyfikatu" alt="" src="http://aktywnybaner.rzetelnafirma.pl/ActiveBanner/GetActiveBannerImage/3/D9GQO7FG" style="border:none;"></a></div>  
        <div style="clear: both;">&nbsp;</div>
      </div>
    </div>
  
  </div>
  <!-- end #page -->
</div>
  {% include footer.html %}
</body>
</html>
